/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #F3AC3C
  Green: #1A4341
  Olive: #998235
*/

.box {
  background-color: #f3ac3c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #1a4341;
}

.rectangle::before {
  content: '';
  position: absolute;
  top: 100px;
  width: 100px;
  height: 100px;
  background-color: #998235;
}

.rectangle::after {
  content: '';
  position: absolute;
  top: 150px;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: #f3ac3c;
}
