/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#293462
  White: #FFF1C1
  Stick: #FE5F55
  Shadow: #A64942
*/

.box {
  background-color: #293462;
}

.ice-cream {
  position: absolute;
  top: 50px;
  left: 150px;
  width: 100px;
  height: 150px;
  border-radius: 50px 50px 21px 21px;
  background-color: #fff1c1;
}

.ice-cream::before {
  content: '';
  position: absolute;
  top: 150px;
  left: 35px;
  width: 30px;
  height: 50px;
  border-radius: 0 0 11px 11px;
  background-color: #fe5f55;
}

.ice-cream::after {
  content: '';
  position: absolute;
  top: 150px;
  left: 35px;
  width: 30px;
  height: 10px;
  background-color: #a64942;
}
